<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0,maximum-scale =1.0" name="viewport">
    <style>
        .pic {
            display: block;
            max-width: 100%;
            height: auto !important;
        }
        img {
            max-width: 100%;
            height: auto !important;
        }
        .w740 {
            padding: 20px;
        }
    </style>
</head>
<body>
    {% for item in hello %}
        {{{item}}}
    {% endfor %}
    
</body>
</html>