<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vc_article">
<div class="va_con _j_master_content" data-cs-t="ginfo_kw_hotel">
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203707925" data-seq="203707926" id="_j_photo_203707925" style="width:680px">
<a href="/photo/16787/scenery_6906350/203707925.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203707925" data-rt-src="https://b1-q.mafengwo.net/s10/M00/FB/B9/wKgBZ1j5daKAeP1XAAL04j7AFD405.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://b1-q.mafengwo.net/s10/M00/FB/B9/wKgBZ1j5daKAeP1XAAL04j7AFD405.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:233px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203699339" data-seq="203699346" id="_j_photo_203699339" style="width:680px">
<a href="/photo/16787/scenery_6906350/203699339.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203699339" data-rt-src="https://b4-q.mafengwo.net/s10/M00/FC/5D/wKgBZ1j5dpuAK88JAAOuM2u3jBc83.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://b4-q.mafengwo.net/s10/M00/FC/5D/wKgBZ1j5dpuAK88JAAOuM2u3jBc83.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:385px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203699539">昔日此处最多云，今日欣看云雾生，<br/>
眼底群山忽不见，直疑奂在小<a class="link _j_keyword_mdd" data-kw="蓬莱" href="/travel-scenic-spot/mafengwo/10443.html" target="_blank">蓬莱</a>。</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203711729" data-seq="203711730" id="_j_photo_203711729" style="width:680px">
<a href="/photo/16787/scenery_6906350/203711729.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203711729" data-rt-src="https://n1-q.mafengwo.net/s10/M00/9F/8B/wKgBZ1j68haAEC6LAAPb55BLa5k04.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n1-q.mafengwo.net/s10/M00/9F/8B/wKgBZ1j68haAEC6LAAPb55BLa5k04.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:257px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203701393">    诗词中所写的就是天堂寨，在距离江浙沪670公里左右，距离<a class="link _j_keyword_mdd" data-kw="武汉" href="/travel-scenic-spot/mafengwo/10133.html" target="_blank">武汉</a>210公里，距离<a class="link _j_keyword_mdd" data-kw="合肥" href="/travel-scenic-spot/mafengwo/10793.html" target="_blank">合肥</a>仅200公里，交通位置便利，全程高速，海拔1600米。因常年多云，有被称为多云山。“五霸”争雄，皖西处于“吴头楚尾”之地，天堂寨号称“吴楚东南第一关”。据查证，天堂寨的第一座屯兵大寨、第一座锋火台为楚国所建。吴楚江淮之战近百年，有史料记载的大仗就有二十余次。</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203699342" data-seq="203699349" id="_j_photo_203699342" style="width:680px">
<a href="/photo/16787/scenery_6906350/203699342.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203699342" data-rt-src="https://a2-q.mafengwo.net/s10/M00/96/88/wKgBZ1j63lKAWW-BAAGCUb7fMjs91.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://a2-q.mafengwo.net/s10/M00/96/88/wKgBZ1j63lKAWW-BAAGCUb7fMjs91.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:510px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203702310">    天堂寨的主峰1729米，今天要介绍的是他的姊妹峰，与天堂寨主峰隔山相望，名为佛顶寨。佛顶寨位于天堂寨主峰的<a class="link _j_keyword_mdd" data-kw="西北" href="/travel-scenic-spot/mafengwo/31808.html" target="_blank">西北</a>方，</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203699344" data-seq="203699351" id="_j_photo_203699344" style="width:680px">
<a href="/photo/16787/scenery_6906350/203699344.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203699344" data-rt-src="https://c2-q.mafengwo.net/s10/M00/96/89/wKgBZ1j63lOAcnXjAAUYJvKbaDA17.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://c2-q.mafengwo.net/s10/M00/96/89/wKgBZ1j63lOAcnXjAAUYJvKbaDA17.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:364px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203702386">佛顶寨是<a class="link _j_keyword_mdd" data-kw="大别山" href="/travel-scenic-spot/mafengwo/14447.html" target="_blank">大别山</a>第3主峰，因山顶上1个硕大的石崖，光秃秃的，如1尊大佛而得名。寨下多处没法解释的天然奇观，如：马踏石（岩石上的1排脚印如战马疾驰过留下的脚印），石棺材盖（和当地葬礼的1种棺木形状完全1样），玄天神鼓（天然的巨型石头堆积而成，站在石头的1角摇晃，可发出清澈的鼓声，相传是古代传递有人侵犯的信号，也有传说那是佛顶寨的佛音的传递）站在天堂寨看佛顶寨的山头就像是1尊大佛的头顶，佛顶山的山名就应运而生了。明代末年农民造反，由于朝廷追杀，造反的队伍逃到佛顶山安营扎寨，占山为王，在山上修了防御工事，并用石头建了3道寨门，如今照旧矗立着，<br/>
佛顶寨有诸多的历史传说，至今在当地人口中还相传着佛顶寨是天下粮仓，在古代大荒大灾之年，佛顶寨的某处就会自动有稻谷流出来接济天下百姓，还有传说，佛顶寨内藏着1对绝世的金猴，在天气晴朗的时候，整座山恍如都有金光笼罩，因地势高峻，遇到雨天，佛顶寨云雾围绕，宛如空中楼阁，空中楼阁。</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203699345" data-seq="203699352" id="_j_photo_203699345" style="width:680px">
<a href="/photo/16787/scenery_6906350/203699345.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203699345" data-rt-src="https://n4-q.mafengwo.net/s10/M00/96/89/wKgBZ1j63lSAKB4oAARW4fKH5Ys23.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n4-q.mafengwo.net/s10/M00/96/89/wKgBZ1j63lSAKB4oAARW4fKH5Ys23.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:337px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203701890">山到多云弯复弯，最多云处众山环。<br/>
长官也爱多云住，不是多云不住还。<br/>
      其中清代诗人的诗句是对整个天堂寨最贴切的描写，佛顶寨也不例外。亚热温暖湿润季节气候，具有典型的山地气候特征，气候温和，雨量充沛，温光同季，雨热同季。因为是华东最后一片原始森林。所以佛顶寨对原生态保存的很好。是植物与野生动物的乐园，即天然的氧吧。</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203705477" data-seq="203705481" id="_j_photo_203705477" style="width:680px">
<a href="/photo/16787/scenery_6906350/203705477.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203705477" data-rt-src="https://n1-q.mafengwo.net/s10/M00/05/9F/wKgBZ1j5g8qAcIFmAA-xx0AF_pw67.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n1-q.mafengwo.net/s10/M00/05/9F/wKgBZ1j5g8qAcIFmAA-xx0AF_pw67.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:900px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203705478" data-seq="203705482" id="_j_photo_203705478" style="width:680px">
<a href="/photo/16787/scenery_6906350/203705478.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203705478" data-rt-src="https://n1-q.mafengwo.net/s10/M00/9A/BF/wKgBZ1j65y2ABiaiAAxoBVBuDbQ38.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n1-q.mafengwo.net/s10/M00/9A/BF/wKgBZ1j65y2ABiaiAAxoBVBuDbQ38.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:354px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203705479" data-seq="203705483" id="_j_photo_203705479" style="width:680px">
<a href="/photo/16787/scenery_6906350/203705479.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203705479" data-rt-src="https://n4-q.mafengwo.net/s10/M00/9A/C0/wKgBZ1j65zCAPsdVAAoRhhnB5g058.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n4-q.mafengwo.net/s10/M00/9A/C0/wKgBZ1j65zCAPsdVAAoRhhnB5g058.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:347px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203705480" data-seq="203705484" id="_j_photo_203705480" style="width:680px">
<a href="/photo/16787/scenery_6906350/203705480.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203705480" data-rt-src="https://a1-q.mafengwo.net/s10/M00/9A/C1/wKgBZ1j65zSALIK0AA-fX68f9P480.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://a1-q.mafengwo.net/s10/M00/9A/C1/wKgBZ1j65zSALIK0AA-fX68f9P480.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:350px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203705821">   水光敛滟晴方好,山色空蒙雨亦奇，溪水从山间留下，慢慢汇聚成小河，清澈见底。且富含矿物质。此处民间还有一个神话故事。有一年当地连续下了一个月的大雨，洪水冲垮了人们的家园，村名们祈祷雨能停下来，一天夜里，雨水格外的大，洪水也更加凶猛。但是洪水倒流而上，往天空流去。是一条鲤鱼成精，携虾兵蟹将欲鱼跃<a class="link _j_keyword_mdd" data-kw="龙门" href="/travel-scenic-spot/mafengwo/64473.html" target="_blank">龙门</a>，一夜化龙。但是天兵天将看到当地民不聊生。故天降神雷，将作怪的鲤鱼精劈死，第二天雨停了，人们在河水旁发现一直鲤鱼形状的巨石从中间一分为二，刀口整齐，从那以后，再也没有发生过水灾。这就是当地鲤鱼跃<a class="link _j_keyword_mdd" data-kw="龙门" href="/travel-scenic-spot/mafengwo/64473.html" target="_blank">龙门</a>的故事</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203706838" data-seq="203706841" id="_j_photo_203706838" style="width:680px">
<a href="/photo/16787/scenery_6906350/203706838.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203706838" data-rt-src="https://b4-q.mafengwo.net/s10/M00/9B/C0/wKgBZ1j66a2AScbyAArL_QjdA0833.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://b4-q.mafengwo.net/s10/M00/9B/C0/wKgBZ1j66a2AScbyAArL_QjdA0833.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:313px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203706839" data-seq="203706842" id="_j_photo_203706839" style="width:680px">
<a href="/photo/16787/scenery_6906350/203706839.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203706839" data-rt-src="https://a4-q.mafengwo.net/s10/M00/01/EC/wKgBZ1j5fl6AVe1PAAkxcbKW72M03.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://a4-q.mafengwo.net/s10/M00/01/EC/wKgBZ1j5fl6AVe1PAAkxcbKW72M03.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:360px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203706840" data-seq="203706843" id="_j_photo_203706840" style="width:680px">
<a href="/photo/16787/scenery_6906350/203706840.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203706840" data-rt-src="https://a1-q.mafengwo.net/s10/M00/05/A5/wKgBZ1j5g86ARptEAAbCIIQuY7A38.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://a1-q.mafengwo.net/s10/M00/05/A5/wKgBZ1j5g86ARptEAAbCIIQuY7A38.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:375px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203741937" data-seq="203741938" id="_j_photo_203741937" style="width:680px">
<a href="/photo/16787/scenery_6906350/203741937.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203741937" data-rt-src="https://a2-q.mafengwo.net/s10/M00/B4/A5/wKgBZ1j7Fo6ALDC0AA0tx__35bw53.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://a2-q.mafengwo.net/s10/M00/B4/A5/wKgBZ1j7Fo6ALDC0AA0tx__35bw53.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:332px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203706868">    在佛顶寨的山脚下有个村，名为泗河村，放眼望去，在被雨水冲刷干净的天空中，飘着几朵白云，远处的一大片油菜花，幸福的吸收着大地给予的礼物。这边树上有鸟，远处的阁楼胖几个小朋友正在嬉戏玩耍，看到此情此景，心中一片宁静。虽然交通便利了，但是还是有很多的居民选择者自己自足的生活，米是自己种的，菜也是自己播种的，水是天然的矿泉水，处处走走，还能看到伯伯们在酿酒，一切都是远离城市的喧嚣。</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203709765" data-seq="203716341" id="_j_photo_203709765" style="width:680px">
<a href="/photo/16787/scenery_6906350/203709765.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203709765" data-rt-src="https://n4-q.mafengwo.net/s10/M00/9E/12/wKgBZ1j67yKAafaiAA3Inxu12Go46.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n4-q.mafengwo.net/s10/M00/9E/12/wKgBZ1j67yKAafaiAA3Inxu12Go46.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:382px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203716336" data-seq="203716342" id="_j_photo_203716336" style="width:680px">
<a href="/photo/16787/scenery_6906350/203716336.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203716336" data-rt-src="https://a1-q.mafengwo.net/s10/M00/A2/97/wKgBZ1j694iAPPPGAAx9xjOXCio22.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://a1-q.mafengwo.net/s10/M00/A2/97/wKgBZ1j694iAPPPGAAx9xjOXCio22.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:345px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203716337" data-seq="203716343" id="_j_photo_203716337" style="width:680px">
<a href="/photo/16787/scenery_6906350/203716337.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203716337" data-rt-src="https://b1-q.mafengwo.net/s10/M00/A2/9A/wKgBZ1j694yAbk46AAtt-w57I1Y98.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://b1-q.mafengwo.net/s10/M00/A2/9A/wKgBZ1j694yAbk46AAtt-w57I1Y98.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:371px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203716338" data-seq="203716344" id="_j_photo_203716338" style="width:680px">
<a href="/photo/16787/scenery_6906350/203716338.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203716338" data-rt-src="https://b4-q.mafengwo.net/s10/M00/A2/9C/wKgBZ1j695KAUFQCAAvPTAD7nWI38.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://b4-q.mafengwo.net/s10/M00/A2/9C/wKgBZ1j695KAUFQCAAvPTAD7nWI38.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:359px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203716339" data-seq="203716345" id="_j_photo_203716339" style="width:680px">
<a href="/photo/16787/scenery_6906350/203716339.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203716339" data-rt-src="https://a3-q.mafengwo.net/s10/M00/A2/9E/wKgBZ1j695aAeLTaAA02-1vCngE92.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://a3-q.mafengwo.net/s10/M00/A2/9E/wKgBZ1j695aAeLTaAA02-1vCngE92.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:379px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203716340" data-seq="203716346" id="_j_photo_203716340" style="width:680px">
<a href="/photo/16787/scenery_6906350/203716340.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203716340" data-rt-src="https://b2-q.mafengwo.net/s10/M00/A2/A0/wKgBZ1j695qAPC8cAAxvIUwhqNY28.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://b2-q.mafengwo.net/s10/M00/A2/A0/wKgBZ1j695qAPC8cAAxvIUwhqNY28.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:417px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203709765" data-seq="203709769" id="_j_photo_203709765" style="width:680px">
<a href="/photo/16787/scenery_6906350/203709765.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203709765" data-rt-src="https://n4-q.mafengwo.net/s10/M00/9E/12/wKgBZ1j67yKAafaiAA3Inxu12Go46.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n4-q.mafengwo.net/s10/M00/9E/12/wKgBZ1j67yKAafaiAA3Inxu12Go46.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:382px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203709766" data-seq="203709770" id="_j_photo_203709766" style="width:680px">
<a href="/photo/16787/scenery_6906350/203709766.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203709766" data-rt-src="https://b2-q.mafengwo.net/s10/M00/05/97/wKgBZ1j5g8OAbWbzAA42Jsm4cpw99.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://b2-q.mafengwo.net/s10/M00/05/97/wKgBZ1j5g8OAbWbzAA42Jsm4cpw99.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:1020px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203716586">    泗河村<a class="link _j_keyword_mdd" data-kw="龙井" href="/travel-scenic-spot/mafengwo/64861.html" target="_blank">龙井</a>河大峡谷</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203709767" data-seq="203709771" id="_j_photo_203709767" style="width:680px">
<a href="/photo/16787/scenery_6906350/203709767.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203709767" data-rt-src="https://n4-q.mafengwo.net/s10/M00/05/A3/wKgBZ1j5g82AV9kiAAnY0BxJXCs62.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n4-q.mafengwo.net/s10/M00/05/A3/wKgBZ1j5g82AV9kiAAnY0BxJXCs62.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:353px;width:680px;background:#FCF2DC"/>
</a>
</div>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203751006" data-seq="203751007" id="_j_photo_203751006" style="width:680px">
<a href="/photo/16787/scenery_6906350/203751006.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203751006" data-rt-src="https://n2-q.mafengwo.net/s10/M00/BA/3B/wKgBZ1j7HdeAWoQsAAHQKwlg63Q57.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n2-q.mafengwo.net/s10/M00/BA/3B/wKgBZ1j7HdeAWoQsAAHQKwlg63Q57.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:453px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203709887">    因为生态环境保护的比较好，所以山核桃，石耳（腐生性中温型真菌），灵芝等药用价值高的植物在这里随处可见。当地民风淳朴，走进小阁楼，居民会呼喊你近家门坐一坐。一桌美食，一瓶自酿的美酒，都是代表着村名的热情及最淳朴的<a class="link _j_keyword_mdd" data-kw="友谊" href="/travel-scenic-spot/mafengwo/176918.html" target="_blank">友谊</a>。</p>
<div class="add_pic _j_anchorcnt _j_seqitem" data-pid="203709764" data-seq="203717184" id="_j_photo_203709764" style="width:680px">
<a href="/photo/16787/scenery_6906350/203709764.html" style="display: block" target="_blank">
<img alt="" class="_j_lazyload" data-pid="203709764" data-rt-src="https://n4-q.mafengwo.net/s10/M00/9E/10/wKgBZ1j67x6ALq5FABM3fZ6yrTA23.jpeg?imageView2%2F2%2Fw%2F1360%2Fq%2F90" data-src="https://n4-q.mafengwo.net/s10/M00/9E/10/wKgBZ1j67x6ALq5FABM3fZ6yrTA23.jpeg?imageView2%2F2%2Fw%2F680%2Fq%2F90" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="height:370px;width:680px;background:#FCF2DC"/>
</a>
</div>
<p class="_j_note_content _j_seqitem" data-seq="203717240">   风清气爽的时候，车外的山山水水，草草木木显得格外清晰，秀丽。那清澈的小山涧，或是端急的小瀑布，它们或急或缓，姿态万千，瞬间使人能忘记旅途的疲惫和辛劳。</p>
</div>
<div class="vc_total _j_help_total">
        本篇游记共含<span>1485</span>个文字，<span>25</span>张图片。帮助了<b class="_j_total_person" style="font-weight:inherit"></b>名<b class="_j_total_mdd" style="font-weight:inherit"></b>游客。
        <a class="r-report" data-app="youji" data-japp="report" data-refer="http://www.mafengwo.cn/i/6906350.html" data-refer-uid="48105295">举报</a> </div>
</body>
</html>